<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div align="center">
        <h1>User Lists</h1>
        <a th:href="@{/signup}"><button>Signup</button></a>
        <table border="1">
            <thead>
            <tr>
                <th>User First Name</th>
                <th>User Last Name</th>
                <th>User Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${listOfUsers}" >
                <td th:text="${user.firstname}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:text="${user.email}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>