<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" href="/static/css/dashboard.css">
    <title>Post Update</title>
</head>
<body>
<div id="sub-sec-2">
    <form id="sub-sec-2-form" action="#" th:action="@{/post-update/{id}(id = ${post.id})}" method="post" th:object="${post}">
        <input type="hidden" name="id" th:value="${post.id}" />
        <textarea type="text" rows="4" cols="50" th:field="${post.content}" name="updatedPost"  id="updatedPost" required></textarea>

        <button type="submit">Update Post</button>
    </form>

</div>
</body>
</html>